body {
	background-color: rgb(255, 255, 255);
	font-family: 'Poppins', sans-serif;
}

.app {
	text-align: center;
}

.header {
	background-color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}
